html, body {
    height: 100%;
    user-select: none;
}

*, *::before, *::after{
    padding: 0;
    margin: 0;
}

body{
    --main-content: white;
    --side-bar: #eee;
    --btn-topbar: #607AB6;

    color: black;
    box-sizing: border-box;
    display: flex; 
    flex-flow: column wrap;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1, h2, h3{
    margin-block-start: 0em;
    margin-block-end: 0em;
}

h2 {
    width: 100%;
}

input, textarea{
    background-color: transparent;
    border: none;
    cursor: text;
}

input:hover, input:focus{
    outline: none;
}

textarea{
    border: none;
    font-family: inherit;
    resize: none;
}

textarea:focus{
    outline: none;
}

object{
    pointer-events: none;
    cursor: pointer;
}

span {
    font-size: 18px;
}


#parent {
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#topbar {
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    background-color: var(--btn-topbar);
}

#child{
    display: flex;
    /* border: 1px solid red; */
    flex-grow: 1;
}

#side-bar{
    background-color: var(--side-bar);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 2px solid grey;
    padding: 30px;
    min-width: 19rem;
}

.tasks-container {
    padding: 30px;
    /* border: 1px solid green; */
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 30px;
}

.flex-row {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    gap: 30px;
    align-content: flex-start;
}

#links-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.links-div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#projects-div {
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-top: 2rem;
}

.projects-links {
    padding-left: 30px;
}

.title-h1-size {
    font-weight: 600;
    font-size: 28px;
}

.project-title-h2-size {
    font-weight: 400;
}

.project {
    font-size: 14px;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-side-project-title {
    display: flex;
    align-items: center;
    gap: 30px;
}

#add-btn{
    width: 70px;
    height: 70px;
    font-size: 60px;
    border: none;
    border-radius: 50%;
    background-color: var(--btn-topbar);
    color: white;
    box-shadow: 0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.4);
}

#add-btn:hover{
    transform: scale(1.1);
    background-color: #4b5e8b;
}

.task-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    min-height: 35px;
    background-color: var(--side-bar);
    border-left-width: 4px;
    border-left-style: solid;
    border-radius: 5px;
}

.task-left-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.task-right-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

.checkbox {
    background-color: transparent;
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 4px;
    cursor: pointer;
}

.active{ 
    background-image: url(/image/check.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: green;
}

.low-div {
    border-left-color: #119999;;
}

.mid-div {
    border-left-color: orange;
}

.high-div {
    border-left-color: red;
}


.low-checkbox-border {
    border: 2px solid #119999;
}

.mid-checkbox-border {
    border: 2px solid orange;
}

.high-checkbox-border {
    border: 2px solid red;
}

.title-holder {
    font-size: 16px;
    color: black;
}

.btn-div{
    font-size: 13px;
    padding: 5px 11px;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    font-weight: 700;
}

.btn-div:hover{
    color: white;
    transition: all 0.3s;
}

.general-low-btn, .todo-date-class {
    color: #119999;
    background-color: rgba(#119999, 0.7);
    border: 1px solid #119999;
}

.general-low-btn:hover{
    background-color: #119999;
}

.general-low-btn-selected {
    color: white;
    transition: all 0.3s;
    background-color: #119999;
}

.general-mid-btn {
    color: orange;
    background-color: rgba(orange, 0.7);
    border: 1px solid orange;
}

.general-mid-btn:hover{
    background-color: orange;
}

.general-medium-btn-selected {
    color: white;
    transition: all 0.3s;
    background-color: orange;
}

.general-high-btn {
    color: red;
    background-color: rgba(red, 0.7);
    border: 1px solid red;
}

.general-high-btn:hover{
    background-color: red;
}

.general-high-btn-selected {
    color: white;
    transition: all 0.3s;
    background-color: red;
}

.due-date-div {
    font-size: 15px;
    width: 5rem;
    display: flex;
    justify-content: center;
}

.edit-svg, .trash-svg {
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
}

.delete-svg {
    height: 30px;
    display: flex;
    align-items: center;
}

.trash-svg-project {
    height: inherit;
}

.edit-svg:hover, .trash-svg:hover, .trash-svg-project:hover{
    cursor: pointer;
    filter: invert(24%) sepia(100%) saturate(1934%) hue-rotate(97deg) brightness(94%) contrast(103%);
}

/* code for individual note gui */
.note{
    min-width: 18rem;
    position: relative;
    height: fit-content;
    background-color: var(--side-bar);
    margin-top: 1.2rem;
    padding: 1.3rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.note:hover{
    transition: all 0.3s; 
    box-shadow: 0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.4);
} 

.note-title, .note-paragraph, .details-input{
    height: fit-content;
    width: 96%;
    display: block;
    overflow: hidden;
}

.note-title{
    font-size: 25px;
    font-weight: normal;
    cursor: pointer;
    color: black;
    min-height: 66px;
    margin-bottom: 0.5rem;
}

.note-paragraph { 
    font-size: 20px;
}

/* #create-note-close, #create-edit-close */
.close-svg-div{
    position: absolute;
    top: 10px;
    right: 10px;
    line-height: 1;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}

.close-svg-div:hover{
    cursor: pointer;
}

.close-x-svg{
    filter: invert(0%) sepia(7%) saturate(7471%) hue-rotate(279deg) brightness(91%) contrast(109%);
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}

.close-x-svg:hover {
    cursor: pointer;
}

/* details popup code */
#details-popup{
    position: relative;
    width: 40rem;
    margin: auto;
    padding: 2rem;
    background-color: #f7f7f7;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.6);
    border: none;
    border-radius: 10px;
}

::backdrop{ 
    background: rgb(0 0 0 / 30%);
    backdrop-filter: blur(6px);
}

#details-popup-text-wrapper{
    display: flex;
    flex-direction: column;
    gap: 17px;
}

#details-popup-title{
    font-size: 35px;
}

#details-popup-about-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.details-sub-title {
    font-size: 20px;
    font-weight: 600;
}

.details-project{ 
    margin-right: 4.4rem;
}

.details-urgency{
    margin-right: 4.4rem;
}

.details-deadline{
    margin-right: 3.2rem;
}

.details-description{
    margin-right: 2rem;
}

/* for edit popup */
.right-side-of-popup{
    padding: 50px;
    display: grid;
    grid-template-columns: 6fr 1fr;
    gap: 35px;
}

.edit-popup{
    position: relative;
    height: 21rem;
    width: 50rem;
    margin: auto;
    background-color: #f7f7f7;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.6);
    border: none;
    border-radius: 10px;
}

.confirm-changes-btn{
    width: 8rem;
}

#textarea-wrapper-div{
    display: flex;
    flex-direction: column;
    gap: 0px;
}

#textarea-wrapper-div textarea:first-of-type{
    line-height: 0.8; 
}

#textarea-wrapper-div textarea:last-of-type{
    height: 100%;
    line-height: 1.5; 
}

#create-edit-close{
    filter: invert(24%) sepia(100%) saturate(1934%) hue-rotate(97deg) brightness(94%) contrast(103%);
}

.title-input{
    font-size: 20px;
    font-weight: 500;
}

.details-input{
    font-size: 17px;
}

#date-priority-wrapper-div, #date-priority-wrapper-div-child{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

#date-priority-wrapper-div{
    justify-content: space-between;
}

.shared-display-flex-gap-10px{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#priority-div-parent{
    display: flex;
    flex: 1;
}

#priority-divs-wrapper-parent{
    flex: 1;
    justify-content: space-between;
}

#priority-divs-wrapper-parent, #priority-divs-wrapper-child{
    flex-wrap: wrap;
    align-content: center;
}

 #priority-divs-wrapper-child{
    flex-wrap: wrap;
    align-content: center;
    
}

.priority-div, .add-todo-btn{
    width: 4.5rem;
}

.confirm-changes-btn{
    width: 8rem;
}

/* create a new popup */
#create-new-task-popup{
    max-width: 65rem;
    display: grid;
    grid-template-columns:1fr 4fr;
    grid-template-rows: 1fr 10fr;
    border: none;
    border-radius: 10px;
    margin: 10rem auto;
}

.create-new-topbar{
    grid-area: 1 / 1 / 1 / 3;
    background-color: var(--btn-topbar);

    display: flex;
    padding: 5px 20px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--btn-topbar);
}

.create-new-sidebar{
    grid-area: 2 / 1 / 3 / 2;
    background-color: var(--side-bar);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8rem;
    max-width: 9rem;
    min-width: 4rem;
    padding: 30px;
    border-right: 1px solid grey;
}

.main-sidebar-text-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.option-text{
    font-size: 25px;
    font-weight: normal;
    cursor: pointer;
    transform: scale (1); 
    color: black;
}

.option-text.mouseOn{
    font-weight: bold;
    transform: scale (1.02); 
    color: black;
}

.option-text:hover{
    font-weight: bold;
    transform: scale (1.02); 
    color: black;
}

/* for todo side of 'create new' popup */
.input-wrapper-div{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* for project side of 'create new' popup */
.right-side-submit-btn-div{
    display: flex;
    flex-direction: column-reverse;
}

.create-project-note-btn{
    width: 7rem;
}

/* for note side of 'create new' popup */
.create-project-note-btn{
    width: 7rem;
}


.right-side-of-popup{
    padding: 50px;
    display: grid;
    grid-template-columns: 6fr 1fr;
    gap: 35px;
}

/* for offset */
.show-number, #show-number-project{
    width: 25px;
    height: 25px;
    background-color: var(--btn-topbar);
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    padding: 2px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.category {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

/* for hover over main titles */

.blue-clr1 {
    color: #607AB6;
}

.white-clr1 {
    color: white;
}

