html, body {
    user-select: none;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

*, *::before, *::after{
    padding: 0;
    margin: 0;
}

body{
    --main-content: white;
    --side-bar: #eee;
    --btn-topbar: #607AB6;

    color: black;
    box-sizing: border-box;
    display: flex; 
    flex-flow: column wrap;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1, h2, h3{
    margin-block-start: 0em;
    margin-block-end: 0em;
}

h2 {
    width: 100%;
}

input, textarea{
    background-color: transparent;
    border: none;
    cursor: text;
}

input:hover, input:focus{
    outline: none;
}

textarea{
    border: none;
    font-family: inherit;
    resize: none;
    field-sizing: content;
}

textarea:focus{
    outline: none;
}

object{
    pointer-events: none;
    cursor: pointer;
}

span {
    font-size: 18px;
}


#parent {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#topbar {
    padding: 10px 10px 10px 30px;
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: 10px;
    background-color: var(--btn-topbar);
}

#child{
    display: flex;
    flex-grow: 1;
    height: 100px;
}

.side-bar{
    background-color: var(--side-bar);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 2px solid grey;
    padding: 30px;
    min-width: 19rem;
}

.tasks-container {
    padding: 30px;
    overflow-y: scroll;
}

.flex-column {
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 30px;
}

.flex-row {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    gap: 30px;
    align-content: flex-start;
}

#links-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.links-div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#projects-div {
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-top: 2rem;
}

.projects-links {
    padding-left: 30px;
}

.title-h1-size {
    font-weight: 600;
    font-size: 28px;
}

.project-title-h2-size {
    font-weight: 400;
}

.project {
    font-size: 14px;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-side-project-title {
    display: flex;
    align-items: center;
    gap: 30px;
}

.add-btn{
    width: 70px;
    height: 70px;
    font-size: 60px;
    border: none;
    border-radius: 50%;
    background-color: var(--btn-topbar);
    color: white;
    box-shadow: 0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.4);
}

.add-btn:hover{
    transform: scale(1.1);
    background-color: #4b5e8b;
}

.task-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    min-height: 35px;
    background-color: var(--side-bar);
    border-left-width: 4px;
    border-left-style: solid;
    border-radius: 5px;
}

.task-left-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.task-right-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

.checkbox {
    background-color: transparent;
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 4px;
    cursor: pointer;
}

.active{ 
    background-image: url(/image/check.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: green;
}

.low-div {
    border-left-color: #119999;;
}

.mid-div {
    border-left-color: orange;
}

.high-div {
    border-left-color: red;
}


.low-checkbox-border {
    border: 2px solid #119999;
}

.mid-checkbox-border {
    border: 2px solid orange;
}

.high-checkbox-border {
    border: 2px solid red;
}

.title-holder {
    font-size: 16px;
    color: black;
}

.btn-div{
    font-size: 13px;
    padding: 5px 11px;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    font-weight: 700;
}

.btn-div:hover{
    color: white;
    transition: all 0.3s;
}

.general-low-btn, .todo-date-class {
    color: #119999;
    background-color: rgba(#119999, 0.7);
    border: 1px solid #119999;
}

.general-low-btn:hover{
    background-color: #119999;
}

.general-low-btn-selected {
    color: white;
    transition: all 0.3s;
    background-color: #119999;
}

.general-mid-btn {
    color: orange;
    background-color: rgba(orange, 0.7);
    border: 1px solid orange;
}

.general-mid-btn:hover{
    background-color: orange;
}

.general-medium-btn-selected {
    color: white;
    transition: all 0.3s;
    background-color: orange;
}

.general-high-btn {
    color: red;
    background-color: rgba(red, 0.7);
    border: 1px solid red;
}

.general-high-btn:hover{
    background-color: red;
}

.general-high-btn-selected {
    color: white;
    transition: all 0.3s;
    background-color: red;
}

.due-date-div {
    font-size: 15px;
    width: 5rem;
    display: flex;
    justify-content: center;
}

.edit-delete-svg-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.edit-svg, .trash-svg {
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
}

#topbar-svg-div {
    width: 30px;
    height: 30px;
}

.topbar-svg {
    height: inherit;
    filter: invert(0%) sepia(7%) saturate(7471%) hue-rotate(279deg) brightness(91%) contrast(109%);
}

.delete-svg {
    height: 30px;
    display: flex;
    align-items: center;
}

.trash-svg-project {
    height: inherit;
}

.edit-svg:hover, .trash-svg:hover, .trash-svg-project:hover{
    cursor: pointer;
    filter: invert(24%) sepia(100%) saturate(1934%) hue-rotate(97deg) brightness(94%) contrast(103%);
}

/* individual note gui */
.note{
    min-width: 18rem;
    position: relative;
    height: fit-content;
    background-color: var(--side-bar);
    margin-top: 1.2rem;
    padding: 1.3rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.note:hover{
    transition: all 0.3s; 
    box-shadow: 0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.4);
} 

.note-title, .note-paragraph, .details-input{
    display: block;
    overflow: hidden;
}

.note-title, .note-paragraph{
    height: fit-content;
}

.details-input {
    max-height: 17rem;
    font-size: 17px;
}

.note-title{
    font-size: 25px;
    font-weight: normal;
    cursor: pointer;
    color: black;
    min-height: 66px;
    margin-bottom: 0.5rem;
}

.note-paragraph { 
    font-size: 20px;
}

.close-svg-div{
    position: absolute;
    top: 10px;
    right: 10px;
    line-height: 1;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}

.close-svg-div:hover{
    cursor: pointer;
}

.close-x-svg{
    filter: invert(0%) sepia(7%) saturate(7471%) hue-rotate(279deg) brightness(91%) contrast(109%);
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}

.close-x-svg:hover {
    cursor: pointer;
}

/* details popup code */
#details-popup{
    width: 40rem;
    margin: auto;
    padding: 2rem;
    background-color: #f7f7f7;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.6);
    border: none;
    border-radius: 10px;
}

::backdrop{ 
    background: rgb(0 0 0 / 30%);
    backdrop-filter: blur(6px);
}

#details-popup-text-wrapper{
    display: flex;
    flex-direction: column;
    gap: 17px;
}

#details-popup-title{
    font-size: 35px;
}

#details-popup-about-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.details-sub-title {
    font-size: 20px;
    font-weight: 600;
}

.details-project{ 
    margin-right: 4.4rem;
}

.details-urgency{
    margin-right: 4.4rem;
}

.details-deadline{
    margin-right: 3.2rem;
}

.details-description{
    margin-right: 2rem;
}

/* for edit popup */
.right-side-of-popup{
    padding: 50px;
    display: grid;
    grid-template-columns: 6fr 1fr;
    gap: 35px;
}

.edit-popup{
    position: relative;
    height: fit-content;
    height: 21rem;
    width: 50rem;
    margin: auto;
    background-color: #f7f7f7;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.6);
    border: none;
    border-radius: 10px;
}

.confirm-changes-btn{
    width: 8rem;
}

#textarea-wrapper-div{
    display: flex;
    flex-direction: column;
    gap: 0px;
}

#textarea-wrapper-div textarea:first-of-type{
    line-height: 0.8; 
}

#textarea-wrapper-div textarea:last-of-type{
    height: 100%;
    line-height: 1.5; 
}

#create-edit-close{
    filter: invert(24%) sepia(100%) saturate(1934%) hue-rotate(97deg) brightness(94%) contrast(103%);
}

.title-input{
    font-size: 20px;
    font-weight: 500;
    height: 35px;
}

.date-priority-wrapper-div, .date-priority-wrapper-div-child{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.date-priority-wrapper-div{
    justify-content: space-between;
}

.shared-display-flex-gap-10px{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.priority-div-parent{
    display: flex;
    flex: 1;
}

.priority-divs-wrapper-parent{
    flex: 1;
    justify-content: space-between;
}

.priority-divs-wrapper-parent, .priority-divs-wrapper-child{
    flex-wrap: wrap;
    align-content: center;
}

.priority-div, .add-todo-btn{
    width: 4.5rem;
}

.confirm-changes-btn{
    width: 8rem;
}

/* create a new popup */
#create-new-task-popup{
    max-width: 65rem;
    display: grid;
    grid-template-columns:1fr 4fr;
    grid-template-rows: 1fr 10fr;
    border: none;
    border-radius: 10px;
    margin: auto;
}

.create-new-topbar{
    grid-area: 1 / 1 / 1 / 3;
    background-color: var(--btn-topbar);

    display: flex;
    padding: 5px 20px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--btn-topbar);
}

.create-new-sidebar{
    grid-area: 2 / 1 / 3 / 2;
    background-color: var(--side-bar);
    max-width: 9rem;
    padding: 30px;
    border-right: 1px solid grey;
}

.main-sidebar-text-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.option-text{
    font-size: 25px;
    font-weight: normal;
    cursor: pointer;
    transform: scale (1); 
    color: black;
    flex-shrink: 0;
}

.option-text.mouseOn{
    font-weight: bold;
    transform: scale (1.02); 
    color: black;
}

.option-text:hover{
    font-weight: bold;
    transform: scale (1.02); 
    color: black;
}

/* for todo side of 'create new' popup */
.input-wrapper-div{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #eee;
    border-radius: 5px;
    padding: 15px;
}

/* for project side of 'create new' popup */
.right-side-submit-btn-div{
    display: flex;
    flex-direction: column-reverse;
}

.create-project-note-btn{
    width: 7rem;
}

/* for note side of 'create new' popup */
.create-project-note-btn{
    width: 7rem;
}

/* for offset */
.show-number, #show-number-project{
    width: 25px;
    height: 25px;
    background-color: var(--btn-topbar);
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    padding: 2px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.category {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

/* for hover over main titles */
.blue-clr1 {
    color: #607AB6;
}

.white-clr1 {
    color: white;
}

.bottom-bar {
    width: 100%;
    background-color: var(--side-bar);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    position: fixed;
    bottom: 0;
    right: -100%;
}

.open-sidebar-div {
    position: absolute;
    right: 35px;
    width: 30px;
    height: 30px;
    background-color: transparent;
}

.open-sidebar-svg {
    height: inherit;
    filter: invert(0%) sepia(7%) saturate(7471%) hue-rotate(279deg) brightness(91%) contrast(109%);
}

@media screen and (max-width: 1200px) {

    #create-new-task-popup {
        margin: auto 4rem;
        width: inherit;
        min-height: 30rem;
    }

    .bottom-bar {
        position: relative;
        right: 0;
        bottom: 0;
    }

    #child {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .side-bar {
        position: fixed;
        top: 0;
        bottom: 0;
        left: -130%;
        transition: left 1.2s;
        z-index: 1;
        overflow-y: scroll;
    }

    .side-bar.show-sidebar{
        left: 0;
    }

    .add-btn-main {
        visibility: hidden;
    }

}

@media screen and (max-width: 992px) {

    .right-side-of-popup{
        padding: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .edit-popup {
        display: grid;
        grid-template-columns: 6fr 1fr;
        gap: 35px;
        width: 40rem;
    }

    .todo-date-class {
        max-width: 10rem;
    }

    .date-div-992-px-mq {
        display: flex;
        flex-direction: row;
        gap: 11px;
    }

    .date-priority-wrapper-div-create {
        flex: 0;
    }

    .date-priority-wrapper-div-child-create {
        flex: 0;
    }

    .priority-div-parent-create {
        display: flex;
        flex: 0;
        flex-direction: row;
        gap: 27px;
    }

    .priority-divs-wrapper-parent-create {
        height: fit-content;
        display: flex;
        flex-direction: row;
        align-content: flex-start;
        justify-content: space-between;
    }

    .priority-divs-wrapper-child-create {
        flex-direction: row;
    }

    .add-todo-btn {
        position: absolute;
        bottom: 20px;
        right: 20px;
    }

    .details-input {
        min-height: 15rem;
    }

}

@media screen and (max-width: 884px) {
    #create-new-task-popup {
        display: flex;
        flex-direction: column;
    }

    .create-new-sidebar{
        max-width: none;
        background-color: transparent;
        padding: 20px 50px;
    }

    .main-sidebar-text-wrapper {
        flex-direction: row;
        justify-content: space-between;
    }

    .option-text {
        background-color: rgb(77, 77, 77);
        padding: 2px 20px;
        border: none;
        border-radius: 5px;
        color: white;
    }

    .right-side-of-popup{
        padding-top: 10px;
    }
}

@media screen and (max-width: 845px) {

    #details-popup {
        width: 30rem;
        align-self: center;
    }

    .edit-popup {
        padding-top: 50px;
        width: 35rem;
    }

    .bottom-bar {
        justify-content: flex-end;
        padding-right: 90px;
        gap: 40px;
    }

    .open-sidebar-div {
        position: relative;
        right: 0;
    }
}

@media screen and (max-width: 780px) {
    #details-popup {
        width: 25rem;
    }

    .edit-popup {
        width: 30rem;
    }
}

@media screen and (max-width: 711px) {

    .priority-divs-wrapper-child-create {
        flex-direction: column;
    }

    .details-input {
        min-height: 6rem;
    }

    .edit-popup {
        width: 25rem;
    }
}

@media screen and (max-width: 600px) {
    .task-div {
        width: 212px;
        flex-direction: column;
        gap: 20px;
        padding: 5px 10px;
    }

    .task-left-side, .task-right-side {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .task-left-side {
        gap: 10px;
        justify-content: space-between;
    }

    .title-holder {
        font-weight: bold;
    }

    .due-date-div {
        margin-left: 2rem;
        font-style: italic;
    }

    .task-right-side {
        flex-direction: column;
        justify-content: flex-start;
        gap: 10px;
    }

    .edit-delete-svg-div {
        justify-content: space-between;
        width: 100%;
    }

    #links-container {
        width: fit-content;
    }

    .links-div, #projects-div {
        width: 100%;
    }

    .category {
        justify-content: flex-start;
        gap: 15px;
    }

    .side-bar {
        min-width: 11rem;
    }

    .category:first-of-type {
        gap: 112px;
    }

    .Today {
        gap: 114px;
    }

    .Tomorrow {
        gap: 61px;
    }

    .ThisWeek {
        gap: 60px;
    }

    .ThisMonth {
        gap: 45px;
    }

    .projects-links {
        padding-left: 0;
    }

    h2 {
        width: fit-content;
    }
    
}

@media screen and (max-width: 585px) {

    #details-popup {
        width: 20rem;
    }

    .create-new-sidebar {
        padding: 30px;
    }

    .main-sidebar-text-wrapper {
        flex-direction: column;
    }

    .option-text {
        text-align: center;
    }

    .right-side-of-popup {
        padding: 0px 30px 30px;
    }

    .priority-divs-wrapper-parent-create {
        flex-direction: column;
    }

    .add-todo-btn {
        margin-top: 2rem;
        position: relative;
        bottom: 0;
        right: 0;
    }

    .date-div-992-px-mq {
        flex-direction: column;
        align-items: center;
    }

    .priority-div-parent-create {
        flex-direction: column;
        align-items: center;
    }

    .details-input {
        min-height: auto;
    }

    .edit-popup {
        display: flex;
        flex-direction: column;
        align-content: center;
        padding: 50px;
        width: 17rem;
    }

    .share-display-10-px-edit {
        flex-direction: row;
        justify-content: space-between;
    }

    .confirm-changes-btn {
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
}

@media screen and (max-width: 560px) {
    .flex-row{
        justify-content: center;
    }
}

@media screen and (max-width: 480px) {
    #details-popup {
        width: 17rem;
    }

    .details-sub-title {
        margin-right: 1rem;
    }

    .details-sub-title > span {
        display: flex;
        flex-wrap: wrap;
    }

    .edit-popup {
        width: 13rem;
        min-height: 380px;
    }

    .share-display-10-px-edit {
        flex-direction: column;
    }

    .confirm-changes-btn {
        position: relative;
        bottom: 0;
        right: 0;
    }

    .side-bar {
        padding: 25px;
        min-width: 10rem;
    }

    .project {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .add-btn {
        visibility: hidden;
    }

    .add-btn-main {
        visibility: visible;
    }

    .open-sidebar-div {
        right: -20px;
    }

    .category:first-of-type {
        gap: 62px;
    }

    .Today {
        gap: 64px;
    }

    .Tomorrow {
        gap: 10px;
    }

    .ThisWeek {
        gap: 70px;
    }

    .ThisMonth {
        gap: 55px;
    }

}

@media screen and (max-width: 430px) {
    #details-popup-about-wrapper > div {
        display: flex;
        flex-direction: column;
        gap: 2px;
    }

    #details-popup {
        width: 10rem;
    }
}

@media screen and (max-width: 411px) {
    .edit-popup {
        width: 9rem;
    }
}